<mat-card class="w-10/12 md:w-7/12 mx-auto">
  <mat-card-header>
    <mat-card-title>Options and run</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="form" novalidate (ngSubmit)="onSubmit()">
      <div class="flex-col md:flex-row flex gap-5">
        <mat-form-field class="flex-1">
          <mat-label>Server IP</mat-label>
          <input type="text" matInput formControlName="serverIp" />
        </mat-form-field>
        <mat-form-field class="flex-1">
          <mat-label>Server Port</mat-label>
          <input type="text" matInput formControlName="serverPort" />
        </mat-form-field>
      </div>
      <div class="flex">
        <button class="flex-1" mat-raised-button>RUN/UPDATE</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
@let status = mcStatus();
@if(status) {
  <mat-card class="w-10/12 md:w-7/12 mx-auto">
    <mat-card-content>
      @if(isLoading() && isFirstRun) {
        <p>
          Checking Server: {{ form.value.serverIp }}:{{ form.value.serverPort }}
          <mat-progress-bar mode="indeterminate" value="50"></mat-progress-bar>
        </p>
      } @else {
        <div class="h-[64px] w-[64px]" [style.background-image]="headerImage()"></div>
        <p>
          Data will be refreshed every 5 seconds.
        </p>
        <p>
          Status: {{ status.ip }} is <strong>{{ status.online ? "online" : "offline" }}</strong>
          @if(status.debug.cachetime > 0) {
            at {{ status.debug.cachetime * 1000 | date: "yyyy/MM/dd HH:mm:ss" }}
          }
        </p>
        <p>
          Description: {{ status.motd.html[0] }} 
        </p>
        <p>
          Version: {{ status.version }}
          <br>
          Players: {{ status.players.online }}/{{ status.players.max }}
        </p>
      }
    </mat-card-content>
  </mat-card>
}
