<div class="mat-app-background">
  <mat-toolbar color="primary" class="mat-elevation-z4 justify-between">
    {{ appname }}
    <button mat-button (click)="openDialog(dialog)">APP INFO</button>
  </mat-toolbar>
  <ng-template #dialog>
    <h2 mat-dialog-title>Overview</h2>
    <mat-dialog-content>
      <p>
        Shows the status of a minecraft server.
        <br>
        For demonstration I use as default my own minecraft server.
      </p>
      <p>
        The data is loaded by <a href="https://api.mcsrvstat.us/" target="_blank">https://api.mcsrvstat.us/</a>.
      </p>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close cdkFocusInitial>Close</button>
    </mat-dialog-actions>
  </ng-template>

  <mat-card class="w-7/12 mx-auto">
    <mat-card-header>
      <mat-card-title>Options and run</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="form" novalidate (ngSubmit)="onSubmit()">
        <div class="flex gap-5">
          <mat-form-field class="flex-1">
            <mat-label>Server IP</mat-label>
            <input type="text" matInput formControlName="serverIp">
          </mat-form-field>
          <mat-form-field class="flex-1">
            <mat-label>Server Port</mat-label>
            <input type="text" matInput formControlName="serverPort">
          </mat-form-field>
        </div>
        <div class="flex">
          <button class="flex-1" mat-raised-button color="primary">RUN/UPDATE</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
  <mat-card class="w-7/12 mx-auto" *ngIf="appRunning">
    <mat-card-content>
      <div *ngIf="mcStatus" style="width: 64px; height: 64px;" [style.background-image]="headerImage()"></div>
      <div *ngIf="mcStatus">
        <p>
          Data will be refreshed every 5 seconds.
        </p>
        <p>
          Status: {{ mcStatus.ip }} is <strong>{{ mcStatus.online ? 'online' : 'offline' }}</strong>
          <ng-template *ngIf="mcStatus.debug.cachetime > 0">at {{ mcStatus.debug.cachetime * 1000 | date: 'yyyy/MM/dd HH:mm:ss' }}</ng-template>
        </p>
        <p>
          Description: {{ mcStatus.motd.raw[0] }}
        </p>
        <p>
          Version: {{ mcStatus.version }}
          <br>
          Players: {{ mcStatus.players.online}}/{{mcStatus.players.max }}
        </p>
      </div>
      <p *ngIf="!mcStatus">
        Checking Server: {{ form.value.serverIp }}:{{ form.value.serverPort }}
        <mat-progress-bar color="primary" mode="indeterminate" value="50"></mat-progress-bar>
      </p>
    </mat-card-content>
  </mat-card>
</div>
